html{
    height:100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/texture_vintage_background_brown_old_hd-wallpaper-333670.jpg');
    /*background-image: url('../Images/vintage-lace-over-wooden-background-with-space-for-your-text-13598306.jpg');*/
    /*background-image: url('../Images/vintage_photography_love_background_wallpaper.jpg');*/
    /*background-image: url('../Images/pattern_background_surface_wood_50870_2048x1152.jpg');*/
    /*background-image: url('../Images/Wood-Backgrounds-Picture.jpg');*/
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}
.navbar-inverse{
    background-color: #331e08 !important;
    border-color: #331e08 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: beige;*/    
    min-height:100%;
    
    background-color: transparent;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

